.pageWrapper {
  display: flex;
  height: 100vh;
  border: 2rem solid #7ddaf6;
  box-sizing: border-box;
}

.contentWrapper {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 750px) {
  .pageWrapper {
    display: block;
    border: 0.5rem solid #7ddaf6;
    overflow: scroll;
  }

  .contentWrapper {
    width: auto;
  }
}

.callToActionWrapper {
  display: flex;
  gap: 1rem
}

.introWrapper {
  padding: 2rem;
}

.birthdateListWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.birthdateList {
  max-height: 100%;
  overflow: scroll;
  padding: 2rem;
  width: 100%;
}

.callToAction {
  background-color: #4ba9c5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f7f2e7;
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 2rem;
  transition: 0.5s ease-in-out;
}

.callToAction:hover {
  background-color: #68d4f4;
  color: #3a3a58;
  cursor: pointer;
}

.callToAction:disabled {
  background-color: #c7c7c7;
  cursor: progress;
}


@media only screen and (max-width: 350px) {
  .callToAction {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }
}

.birthdateItem {
  display: flex;
}

.birthdateYear {
  font-weight: 500;
  margin-right: 1rem;
}

.modalWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: #3a3a58db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorModal {
  background-color: #f6f2e7;
  border-radius: 1rem;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem;
}

.mainImage {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.loaderWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #3a3a58;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-bottom: 1rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Helper css classes */

.marginBottom {
  margin-bottom: 1rem;
}
